{"openapi": "3.1.0", "info": {"version": "6.0.0", "title": "Engaging Networks Services REST API", "description": " This document describes the endpoints currently available as part of the 'Engaging Networks Services' (ENS) API. \n\n\n## Intended audience ##\nThese services are intended for use by integration partners who are familiar with the Engaging Networks platform, and who require a secure interface to handle data held within the platform.  The services can also be used to conduct basic processing of campaign pages to utilise some of the functionality provided by the platform .\n\n\n## Using this document ##\nThe documentation is provided in an interactive format, and requires a modern web-browser to work correctly.  The dynamic nature of the documentation means that you are able to input example parameters which may specifically relate to your use case, such as authentication details or parameters required to perform a call.  The calls are not meant to be run directly from the browser as certain restrictions may be in place to prevent this, but the examples and generated code can be easily copied into a text editor for further processing. \n\n\nFor these services, the URL used to access them depends on where the client account is located. As a client's account may be located on servers either in the United States or Canada,  they are distingushed by the use of a 'base url', which can be selected when formulating a request. A summary of the 'API Base URL' defined can be found at the top of this overview.\n\n\n## API Usage notes ##\n<!-- theme: info --> \n> #### API call limits\n> There is a limit of **5,000** requests per **1 hour** per API User. For page processing, there is a limit of maximum **200** requests per **5 minutes** from a **single source IP address**. *Beyond these limits, requests will be blocked.*\n**To get started using these definitions with your favourite development environment, request an 'export' above and simply import the resulting file into a tool of choice.**\n\n", "contact": {"name": "Engaging Networks Support", "url": "https://knowledge.engagingnetworks.net/", "email": "support@engagingnetworks.community"}, "x-logo": {"url": "gfx/engagingnetworks.svg"}, "x-preferred": true, "x-providerName": "engagingnetworks"}, "servers": [{"url": "https://ca.engagingnetworks.app/ens/service", "description": "Canada / Europe"}, {"url": "https://us.engagingnetworks.app/ens/service", "description": "United States"}, {"url": "https://us2.engagingnetworks.app/ens/service", "description": "United States 2"}], "security": [{"sessionAuthToken": []}], "tags": [{"name": "Account", "description": "Provides access to account related information"}, {"name": "Authentication", "description": "Provides access to the Engaging Networks REST API"}, {"name": "Export Job Services", "description": "Calls relating to the handling of jobs and job monitor"}, {"name": "Marketing Automation", "description": "Calls relating to the handling of Marketing Automations."}, {"name": "Origin Source", "description": "Calls relating to the handling of Origin Source"}, {"name": "Page Services", "description": "Process page requests and access attributes of related to pages hosted in Engaging Networks."}, {"name": "Page Components", "description": "A group of items specifically relating to components that may form part of a page structure"}, {"name": "Supporter Services", "description": "Access and manipulate data about supporters stored in Engaging Networks."}], "paths": {"/authenticate": {"post": {"security": [], "operationId": "authenticate", "summary": "Authenticate", "description": "Authenticates an API User and returns a session token, which is required for calling on the services. \n\nAll API Users are managed by an account administrator, who must ensure that the users are assigned the appropriate permissions, and that all IP addresses to be used with the services have been whitelisted as part of the user setup.", "requestBody": {"description": "API User token controlling access to the REST API. Must be **securely** obtained from the dashboard.", "required": true, "content": {"application/json": {"schema": {"type": "string", "summary": "API User token controlling access to the REST API.", "example": "0b4336a5-23d2-314d-a1aa-2a0a29bff157"}}}}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"type": "object", "properties": {"expires": {"description": "The number of milliseconds this issued unique token will stay valid.", "type": "number", "example": 3600000}, "ens-auth-token": {"description": "A token to be used with requests in this session.", "type": "string", "example": "0b4336a5-23d2-314d-a1aa-2a0a29bff157"}}}}}}, "401": {"description": "The user could not be authenticated", "content": {"application/json": {"schema": {"type": "object", "properties": {"message": {"type": "string", "description": "Any error message provided by the API", "examples": ["Invalid api key [0b4336a5-23d2-314d-a1aa-2a0a29bff157]"]}, "messageId": {"type": "number", "description": "A numerical identifier used to refer to this type of error.", "examples": [10000000]}}}, "example": {"message": "Invalid api key [0b4336a5-23d2-314d-a1aa-2a0a29bff157]", "messageId": 10000000}}}}}, "tags": ["Authentication"]}}, "/authenticate/{ens-auth-token}": {"get": {"operationId": "validateToken", "security": [], "summary": "Determine the validity of a given token.", "description": "Determine if the provided token is currently valid.", "parameters": [{"name": "ens-auth-token", "in": "path", "description": "The token to check validity the validity of", "required": true, "schema": {"type": "string", "example": "0b4336a5-23d2-314d-a1aa-2a0a29bff157"}}], "responses": {"200": {"description": "Current session token validity", "content": {"application/json": {"schema": {"type": "object", "properties": {"valid": {"type": "boolean", "description": "Indicates whether the supplied token is currently valid.", "enum": [true, false]}, "ens-auth-token": {"type": "string", "description": "The token queried", "examples": ["0b4336a5-23d2-314d-a1aa-2a0a29bff157"]}}}}}}}, "tags": ["Authentication"]}, "delete": {"security": [], "operationId": "retireToken", "summary": "Delete session token", "description": "Retire an issued session token from use.", "parameters": [{"name": "ens-auth-token", "in": "path", "description": "A session token issued by the service", "required": true, "schema": {"type": "string", "example": "0b4336a5-23d2-314d-a1aa-2a0a29bff157"}}], "responses": {"200": {"description": "The token was retired.", "content": {"application/json": {"schema": {"type": "number", "examples": [1]}}}}}, "tags": ["Authentication"]}}, "/page": {"get": {"operationId": "listPages", "summary": "List Pages by type", "description": "Retrieve a list of pages identified by their type", "parameters": [{"name": "type", "in": "query", "description": "The type of pages to list", "required": true, "schema": {"type": "string", "description": "The type of page to include.", "oneOf": [{"title": "nd", "const": "nd", "description": "**Donation pages** - Lists all 'netdonor' fundraising pages, with or without any subtype, that have options to accept single or recurring payments. "}, {"title": "premium", "const": "premium", "description": "**Premium Donation** - A netdonor fundraising page of subtype 'PREMIUM', which allows for the addition of a gift incentive to the donation options."}, {"title": "ecommerce", "const": "ecommerce", "description": "**Symbolic Giving** - A netdonor fundraising page with a subtype of ecommerce. Pages allow for the sale of symbolic gifts (also known as 'virtual gifts') to supporters."}, {"title": "dcf", "const": "dcf", "description": "**Data Capture Form** pages are allows for the collection of generic data which does not have any specific advocacy purpose. . "}, {"title": "pet", "const": "pet", "description": "**Petition** pages allow supporters to sign up to support a statement or a campaign."}, {"title": "ems", "const": "ems", "description": "ems"}, {"title": "survey", "const": "survey", "description": "**Survey** pages allow supporters to submit responses to predefined questions, which are collated for reporting purposes. "}, {"title": "unsub", "const": "unsub", "description": "**Unsubscribe** pages provide a one-stop-shop for supporters to manage their (un)subscription status to various messages."}, {"title": "mem", "const": "mem", "description": "**Membership** pages allow for the management of memberships."}, {"title": "sp", "const": "sp", "description": "**Static Pages** can be used to present any type of content which does not require any user interaction, such as notifications or landing pages for various purposes."}, {"title": "ss", "const": "ss", "description": "**Split Test** pages allows for the testing of two or more pages, and is typically used to see which page design or layout performs better. "}, {"title": "sh", "const": "sh", "description": "**Supporter Hub** pages allow supporters to login to their own personal account at any time to check their personal information, such as their name and address, and amend them if they wish, check their subscriptions and opt in or out to them - giving them control over the content they receive, plus much more."}, {"title": "cc", "const": "cc", "description": "**Click to Call** pages allow supporters to connect to targets via telephone to raise any issues with them directly. "}, {"title": "tp", "const": "tp", "description": "**X Post to Target** (formerly 'Tweet to Target') pages that allow supporters to post messages to targets that have X handles."}, {"title": "ev", "const": "ev", "description": "**Events**: Pages to allow supporters to purchase or obtain tickets for a scheduled event. "}, {"title": "ec", "const": "ec", "description": "ec"}, {"title": "et", "const": "et", "description": "**Email to Target** allows supporters to send messages to politicians or campaign targets."}, {"title": "leadgen", "const": "leadgen", "description": "**Lead Generation** input from social media platforms."}], "example": "pet"}}, {"name": "status", "in": "query", "description": "Return only pages with a given status", "schema": {"description": "The current status of this page, as set in the page editor.", "type": "string", "enum": ["new", "live", "close", "tested", "block", "delete"], "example": "live"}, "example": "live"}], "responses": {"200": {"description": "Pages matching the type specified", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "readOnly": true, "summary": "The unique database identifier assigned to a page.", "description": "A unique identifier assigned to a page.", "example": 15314}, "campaignId": {"type": "integer", "description": "A unique database identifier used to refer to a page, particularly in transactional data. \n\n Where records in transactional data originate outside of a page structure, for example as a result of dashboard actions or imports, this will hold a value of 0, indicating that the transaction outcome should not be associated with a particular page.", "default": 0, "example": 10122}, "name": {"type": "string", "title": "Page Reference Name", "description": "The internal reference name given to a page.", "maxLength": 160, "example": "A Call to Action"}, "title": {"type": "string", "description": "A title given to a page the dashboard", "maxLength": 200}, "type": {"type": "string", "summary": "The main type of the page being described.", "oneOf": [{"title": "nd", "const": "nd", "description": "'NetDonor' fundraising page."}, {"title": "dc", "const": "dc", "description": "Data capture page."}, {"title": "sp", "const": "sp", "description": "Static page."}, {"title": "ss", "const": "ss", "description": "Split Test campaign."}, {"title": "sh", "const": "sh", "description": "Supporter Hub page."}, {"title": "cc", "const": "cc", "description": "Click to Call page."}, {"title": "tp", "const": "tp", "description": "Tweet to Target page."}, {"title": "ev", "const": "ev", "description": "Event page."}, {"title": "ec", "const": "ec", "description": "E-card page."}, {"title": "et", "const": "et", "description": "Email to Target page."}, {"title": "leadgen", "const": "leadgen", "description": ""}], "example": "nd"}, "subType": {"type": "string", "nullable": true, "description": "A subtype (if applicable), describing any particular function of the page.", "oneOf": [{"title": "EMS", "const": "EMS", "description": "A data capture specifically set up to handle email list subscriptions."}, {"title": "SURVEY", "const": "SURVEY", "description": "A data capture page designed to collect responses to survey questions."}, {"title": "DCF", "const": "DCF", "description": "A general data capture page collecting form and question responses from supporters."}, {"title": "PET", "const": "PET", "description": "A petition collecting signatures in the form of email addresses and other details from supporters."}, {"title": "UNSUB", "const": "UNSUB", "description": "A data capture specifically set up to handle list subscriptions. Used for list management purposes to allow supporters to manage multiple opt-in questions using e.g a single unsubscribe link from an email."}, {"title": "PREMIUM", "const": "PREMIUM", "description": "A type of donation page which allows supporters to receive incentives for making donations of variying amounts."}, {"title": "MEMBERSHIP", "const": "MEMBERSHIP", "description": "A type of donation page which allows supporters to join a paid or free membership."}, {"title": "ECOMMERCE", "const": "ECOMMERCE", "description": "A type of donation page which offers supporters opportunities to purchase symbolic gifts."}, {"title": "PP_CHKOUT", "const": "PP_CHKOUT", "description": "A donation page utilised by the Peer-to-Peer module to checkout fundraisers registering with a site."}, {"title": "PP_DONATE", "const": "PP_DONATE", "description": "A donation page utilised by the Peer-to-Peer module to handle donations to sites and pages."}]}, "clientId": {"type": "integer", "description": "Identifies the subaccount this item belongs to", "example": 94}, "createdOn": {"type": "integer", "description": "Timestamp (UNIX epoch) indicating when this item was created", "example": 1576167575000}, "modifiedOn": {"type": "integer", "description": "Timestamp (UNIX epoch) indicating when this item was last modified", "example": 1583662849000, "nullable": true}, "campaignBaseUrl": {"type": "string", "description": "A base url used when rendering this campaign page.", "examples": ["https://donate.example.com"]}, "campaignStatus": {"description": "The current status of this page, as set in the page editor.", "type": "string", "enum": ["new", "live", "close", "tested", "block", "delete"], "example": "live"}, "defaultLocale": {"type": "string", "pattern": "^[a-z]{2,3}\\-[A-Z]{2}$", "description": "An ISO 639-1 code identifying the default language for content.", "example": "fr-CA"}}}}, "examples": {"A donation page": {"summary": "A donation page", "value": [{"id": 946, "campaignId": 3557, "name": "Autumn Rise (live iats)", "title": "Autumn Rise", "type": "nd", "subType": "", "clientId": 94, "createdOn": 1465981693000, "modifiedOn": 1696332536000, "campaignBaseUrl": "https://donate.example.com", "campaignStatus": "live", "defaultLocale": "en-GB"}]}}}}, "links": {"getPageDetails": {"operationId": "getPageDetails", "parameters": {"id": "$response.body#/id"}}, "viewSurveyResponses": {"operationId": "viewSurveyResponses", "parameters": {"id": "$response.body#/id"}}}}, "401": {"description": "Unauthorised", "content": {"application/json": {"schema": {"type": "object", "properties": {"message": {"type": "string", "description": "An error relating to the use of the API was encountered."}}}, "examples": {"Invalid authentication token": {"summary": "An invalid ens-auth-token was provided", "value": {"message": "Invalid ens-auth-token"}}, "Usage limit exceeded": {"summary": "The call limit for a user has been exceeded", "value": {"message": "The user with username [apiuser@example.com] has exceeded its api limit."}}}}}}}, "tags": ["Page Services"]}}, "/page/": {"get": {"operationId": "listPagesComponent", "summary": "List Pages using a Component", "description": "Retrieve a list of pages where a component is being used.", "parameters": [{"name": "action", "in": "query", "description": "The type of action to perform (currently limited to 'inUse' for components only)", "schema": {"type": "string", "enum": ["InUse"], "example": "InUse"}}, {"name": "componentId", "in": "query", "description": "The numerical identifier of a component.", "schema": {"type": "number", "example": 123456}}], "responses": {"200": {"description": "Pages where a specified component has been used", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "object", "properties": {"campaignId": {"type": "integer", "description": "A unique database identifier used to refer to a page, particularly in transactional data. \n\n Where records in transactional data originate outside of a page structure, for example as a result of dashboard actions or imports, this will hold a value of 0, indicating that the transaction outcome should not be associated with a particular page.", "default": 0, "example": 10122}, "name": {"type": "string", "title": "Page Reference Name", "description": "The internal reference name given to a page.", "maxLength": 160, "example": "A Call to Action"}, "id": {"type": "integer", "readOnly": true, "summary": "The unique database identifier assigned to a page.", "description": "A unique identifier assigned to a page.", "example": 15314}}}}, "example": [{"campaignId": 3557, "name": "Level Two 2024", "id": 946}, {"campaignId": 4786, "name": "PPD - Monthly Donors", "id": 6682}, {"campaignId": 5335, "name": "One-Off Donors (WP UK)", "id": 8822}]}}}, "401": {"description": "Unauthorised", "content": {"application/json": {"schema": {"type": "object", "properties": {"message": {"type": "string", "description": "An error relating to the use of the API was encountered."}}}, "examples": {"Invalid authentication token": {"summary": "An invalid ens-auth-token was provided", "value": {"message": "Invalid ens-auth-token"}}, "Usage limit exceeded": {"summary": "The call limit for a user has been exceeded", "value": {"message": "The user with username [apiuser@example.com] has exceeded its api limit."}}}}}}}, "tags": ["Page Components"]}}, "/page/{id}": {"get": {"operationId": "getPageDetails", "summary": "View page details", "description": "Retrieve details about a specific page.", "parameters": [{"in": "path", "name": "id", "description": "A numerical identifier assigned to this item.", "required": true, "schema": {"type": "integer", "readOnly": true, "summary": "The unique database identifier assigned to a page.", "description": "A unique identifier assigned to a page.", "example": 15314}, "example": 15314}], "responses": {"200": {"description": "Details about the settings for an Engaging Networks page.", "content": {"application/json": {"schema": {"type": "object", "description": "An object describing the properties of an Engaging Networks page.", "properties": {"id": {"type": "integer", "readOnly": true, "summary": "The unique database identifier assigned to a page.", "description": "A unique identifier assigned to a page.", "example": 15314}, "campaignId": {"type": "integer", "description": "A unique database identifier used to refer to a page, particularly in transactional data. \n\n Where records in transactional data originate outside of a page structure, for example as a result of dashboard actions or imports, this will hold a value of 0, indicating that the transaction outcome should not be associated with a particular page.", "default": 0, "example": 10122}, "name": {"type": "string", "title": "Page Reference Name", "description": "The internal reference name given to a page.", "maxLength": 160, "example": "A Call to Action"}, "type": {"type": "string", "summary": "The main type of the page being described.", "oneOf": [{"title": "nd", "const": "nd", "description": "'NetDonor' fundraising page."}, {"title": "dc", "const": "dc", "description": "Data capture page."}, {"title": "sp", "const": "sp", "description": "Static page."}, {"title": "ss", "const": "ss", "description": "Split Test campaign."}, {"title": "sh", "const": "sh", "description": "Supporter Hub page."}, {"title": "cc", "const": "cc", "description": "Click to Call page."}, {"title": "tp", "const": "tp", "description": "Tweet to Target page."}, {"title": "ev", "const": "ev", "description": "Event page."}, {"title": "ec", "const": "ec", "description": "E-card page."}, {"title": "et", "const": "et", "description": "Email to Target page."}, {"title": "leadgen", "const": "leadgen", "description": ""}], "example": "nd"}, "subType": {"type": "string", "nullable": true, "description": "A subtype (if applicable), describing any particular function of the page.", "oneOf": [{"title": "EMS", "const": "EMS", "description": "A data capture specifically set up to handle email list subscriptions."}, {"title": "SURVEY", "const": "SURVEY", "description": "A data capture page designed to collect responses to survey questions."}, {"title": "DCF", "const": "DCF", "description": "A general data capture page collecting form and question responses from supporters."}, {"title": "PET", "const": "PET", "description": "A petition collecting signatures in the form of email addresses and other details from supporters."}, {"title": "UNSUB", "const": "UNSUB", "description": "A data capture specifically set up to handle list subscriptions. Used for list management purposes to allow supporters to manage multiple opt-in questions using e.g a single unsubscribe link from an email."}, {"title": "PREMIUM", "const": "PREMIUM", "description": "A type of donation page which allows supporters to receive incentives for making donations of variying amounts."}, {"title": "MEMBERSHIP", "const": "MEMBERSHIP", "description": "A type of donation page which allows supporters to join a paid or free membership."}, {"title": "ECOMMERCE", "const": "ECOMMERCE", "description": "A type of donation page which offers supporters opportunities to purchase symbolic gifts."}, {"title": "PP_CHKOUT", "const": "PP_CHKOUT", "description": "A donation page utilised by the Peer-to-Peer module to checkout fundraisers registering with a site."}, {"title": "PP_DONATE", "const": "PP_DONATE", "description": "A donation page utilised by the Peer-to-Peer module to handle donations to sites and pages."}]}, "clientId": {"type": "integer", "description": "Identifies the subaccount this item belongs to", "example": 94}, "createdOn": {"type": "integer", "description": "The timestamp (as Unix epoch) of when this page was first created.", "example": 1576167575000}, "modifiedOn": {"type": "integer", "description": "The timestamp (as Unix epoch) of when this page was last modified.", "example": 1583662849000}, "campaignBaseUrl": {"type": "string", "description": "A base url used when rendering this campaign page.", "examples": ["https://donate.example.com"]}, "campaignStatus": {"description": "The current status of this page, as set in the page editor.", "type": "string", "enum": ["new", "live", "close", "tested", "block", "delete"], "example": "live"}, "defaultLocale": {"type": "string", "pattern": "^[a-z]{2,3}\\-[A-Z]{2}$", "description": "ISO 639-1 code identifying the language for this content.", "example": "fr-CA", "enum": ["en-GB", "en-US", "fr-CA", "fr-FR", "de-DE", "es-ES", "af-ZA", "ar-AE", "ar-BH", "ar-DZ", "ar-EG", "ar-IQ", "ar-JO", "ar-KW", "ar-LB", "ar-LY", "ar-MA", "ar-OM", "ar-QA", "ar-SA", "ar-SY", "ar-TN", "ar-YE", "be-BY", "bg-BG", "ca-ES", "cs-CZ", "cy-GB", "da-DK", "de-AT", "de-CH", "de-LI", "de-LU", "el-GR", "en-AU", "en-BZ", "en-CA", "en-IE", "en-JM", "en-NZ", "en-PH", "en-TT", "en-ZA", "en-ZW", "es-AR", "es-BO", "es-CL", "es-CO", "es-CR", "es-DO", "es-EC", "es-GT", "es-HN", "es-MX", "es-NI", "es-PA", "es-PE", "es-PR", "es-PY", "es-SV", "es-UY", "es-VE", "et-EE", "eu-ES", "fa-IR", "fi-FI", "fo-FO", "fr-BE", "fr-CH", "fr-LU", "fr-MC", "gl-ES", "gu-IN", "he-IL", "hi-IN", "hr-BA", "hr-HR", "hu-HU", "hy-AM", "id-ID", "is-IS", "it-CH", "it-IT", "ja-JP", "ka-GE", "kk-KZ", "kn-IN", "ko-KR", "kok-IN", "ky-KG", "lt-LT", "lv-LV", "mk-MK", "mn-MN", "mr-IN", "ms-BN", "ms-MY", "mt-MT", "nb-NO", "nl-BE", "nl-NL", "nn-NO", "pl-PL", "pt-BR", "pt-PT", "qu-BO", "qu-EC", "qu-PE", "ro-RO", "ru-RU", "se-FI", "se-NO", "se-SE", "sk-SK", "sl-SI", "sq-AL", "sr-BA", "sv-FI", "sv-SE", "sw-KE", "ta-IN", "te-IN", "th-TH", "tr-TR", "tt-RU", "uk-UA", "ur-PK", "vi-VN", "zh-CN", "zh-HK", "zh-SG", "zh-TW", "zu-ZA"]}, "trackingParameters": {"type": "array", "description": "Any tracking parameters enabled for this page.", "items": {"type": "string", "description": "A tracking parameter"}, "example": ["facebook", "email"]}}, "example": {"id": 946, "campaignId": 3557, "name": "Autumn Donate - New Style", "title": "Autumn Donate - New Style", "type": "nd", "subType": "", "clientId": 94, "createdOn": 1465981693000, "modifiedOn": 1696332536000, "campaignBaseUrl": "https://ca.engagingnetworks.app", "campaignStatus": "live", "defaultLocale": "en-GB", "trackingParameters": ["facebook", "email"]}}}}}, "401": {"description": "Unauthorised", "content": {"application/json": {"schema": {"type": "object", "properties": {"message": {"type": "string", "description": "An error relating to the use of the API was encountered."}}}, "examples": {"Invalid authentication token": {"summary": "An invalid ens-auth-token was provided", "value": {"message": "Invalid ens-auth-token"}}, "Usage limit exceeded": {"summary": "The call limit for a user has been exceeded", "value": {"message": "The user with username [apiuser@example.com] has exceeded its api limit."}}}}}}}, "tags": ["Page Services"]}}, "/page/{id}/survey": {"servers": [{"url": "https://ca.engagingnetworks.app/ens/service", "description": "Canada / Europe"}, {"url": "https://us.engagingnetworks.app/ens/service", "description": "United States"}], "get": {"operationId": "viewSurveyResponses", "summary": "Get survey responses", "description": "Retrieve responses for a given survey.", "parameters": [{"in": "path", "name": "id", "description": "A numerical identifier assigned to this item.", "required": true, "schema": {"type": "integer", "readOnly": true, "summary": "The unique database identifier assigned to a page.", "description": "A unique identifier assigned to a page.", "example": 15314}, "example": 15314}, {"in": "query", "name": "startDate", "description": "The start date of the entries of interest in [ISO 8601 format as YYYY-MM-DD]", "schema": {"type": "string", "description": "The recorded date [YYYY-MM-DD] of this transaction. If left blank during transactional import, the service will apply the import date. The reference timezone for this service is US/Eastern.", "format": "date", "pattern": "^\\d{4}-\\d{2}-\\d{2}$", "example": "2024-12-01"}, "example": "2021-10-01"}, {"in": "query", "name": "endDate", "description": "The end date of the entries of interest in [ISO 8601 format as YYYY-MM-DD]", "schema": {"type": "string", "description": "The recorded date [YYYY-MM-DD] of this transaction. If left blank during transactional import, the service will apply the import date. The reference timezone for this service is US/Eastern.", "format": "date", "pattern": "^\\d{4}-\\d{2}-\\d{2}$", "example": "2024-12-01"}, "example": "2021-10-31"}, {"in": "query", "name": "exportGroupName", "description": "The name of an export group containing a list of supporter fields to be included. **Note**: Export groups can be managed in the dashboard.  For more information, please see our knowledgebase article on [export groups](https://knowledge.engagingnetworks.net/datareports/account-data-structure-settings#AccountDataStructureSettings-ManageField%E2%80%9CExportGroups%E2%80%9D).", "schema": {"type": "string", "description": "The name of an export group containing the list of supporter fields to be included. This setting is ignored if the export type is one of the \"standard\" types, as these will use a fixed set of fields and return them in a pre-defined order. **Note**: Export groups are managed from within the dashboard, and are useful for determining which constituency fields should be included data coming out of APIs.  For more information, please see our knowledgebase article on [export groups](https://knowledge.engagingnetworks.net/datareports/account-data-structure#AccountDataStructure-CreatinganExportGroup).", "maxLength": 100, "example": "Basic Address Fields"}, "example": "Basic Address Fields"}], "responses": {"200": {"description": "Pages with the selected status available in this account", "content": {"application/json": {"schema": {"description": "Responses recorded for this survey", "type": "object", "properties": {"responses": {"items": {"type": "object", "properties": {"date": {"description": "The date when this survey response was submitted [ISO 8601 format]", "type": "string", "format": "date", "pattern": "^\\d{4}-\\d{2}-\\d{2}$"}, "supporterId": {"type": "integer", "title": "supporterId", "description": "The unique numerical database identifier for a supporter.", "example": 212200, "default": 0}, "supporterEmail": {"type": "string", "title": "supporter email", "format": "email", "description": "The primary email address of a supporter, which will typically be used as the basis for identifying a unique supporter to which any transactions will be associated. ", "maxLength": 500, "example": "otto.nv@example.com"}, "Supporter Last Name": {"type": "string", "title": "supporter last name", "description": "A supporter's last name", "maxLength": 500, "example": "Normalverbraucher"}, "Supporter First Name": {"type": "string", "title": "supporter first name", "description": "A supporter's first name", "maxLength": 500, "example": "Otto"}, "SurveyQuestion": {"type": "string", "descriptions": "One entry per question, replicating the name structure of the submitted survey blocks"}}}, "type": "array"}}}, "example": {"date": "2019-04-23", "supporterId": 212200, "supporterEmail": "otto.nv@example.com", "supporter Last Name": "Normalverbraucher", "supporter First Name": "Otto", "surveyQuestion": "Often"}}}}, "401": {"description": "Unauthorised", "content": {"application/json": {"schema": {"type": "object", "properties": {"message": {"type": "string", "description": "An error relating to the use of the API was encountered."}}}, "examples": {"Invalid authentication token": {"summary": "An invalid ens-auth-token was provided", "value": {"message": "Invalid ens-auth-token"}}, "Usage limit exceeded": {"summary": "The call limit for a user has been exceeded", "value": {"message": "The user with username [apiuser@example.com] has exceeded its api limit."}}}}}}}, "tags": ["Page Services"]}}, "/page/{id}/process": {"post": {"operationId": "processPage", "summary": "Process a Page Request", "description": "Process a page submission to an existing Engaging Networks page.\n\n\nNote: Payloads that include live credit card details will require the use of a [separate endpoint](/operations/processCardPayment).** \nYour code should be able to determine which endpoint is appropriate to use based on whether 'ccnumber' and/or 'ccvv' is part of the transaction. \n### Supported page types ###\nThe API currently supports processing of a number of the pagetypes available on the platform. Note that the type is set when the page is created in the dashboard, and can not be altered. \n\n\nAll page processing requires a *'supporter'* object to be submitted (which can include a *'questions'* object containing the corresponding responses).\n\n\n**dcf** - A generic pagetype used to capture data. \n\n\n**pet** - Petition page.\n\n\n**ems** - Typically used as a sign-up page. \n\n \n**unsub** - A subscribe/unsubscribe page, or subscription management page.\n\n\n**ev** - Event page. Requires an *'event'* object in the body, which includes the *'tickets'* and the *'attendees'* for each ticket. The page also requires a *'transaction'* object to be submitted, to provide payment details for the tickets purchased.\n\n\nProviding a list of attendees indicates the number of attendee tickets being purchased, so if you pass in one attendee you are buying a single ticket, if you pass in 5 you are buying this quantity of tickets.\n\n\nIf an event ticket is set up to be supplied at no cost to the supporter, 'cash' will be used as the **paymenttype** instead of any value provided for this field within in the transaction object - unless an additional donation amount or other details are provided. \n To supply an additional donation to the order, you can use **additonalAmount** in the *event* object. This amount will then be added to the total charged.\n The transaction element for an event does not require a **donationAmt** to be passed, as this will be calculated based on the number of tickets purchased.\n\n\n**mem** - Membership. Requires a *'membership'* object, which should include an array of 'members'.\n If a free membership is required, it is possible to provide a 'donationAmt' with a value of 0. If a free membership is selected, 'cash' will be used to as the **paymenttype** instead of any value provided for this field within the transaction object\n\n**et** - Email to Target page. Requires a *'contactMessage'* object containing the *'subject'* and *'message'*. \n\n\n**nd** - Donation pages **without** a *'subType'* are supported, however Premium donations can also be processed.  Requires a *'transaction'* object containing the payment details. For a Premium donation, an additional *'product'* object containing the selected item may also be included, if a selection is required. If shipping is required for any item selected as part of a Premium donation process, optional shipping details may also be added to the *'transaction'* object.\n\n\nTo determine whether the page you are trying to post into is supported, you can use [*/page/{id}*](/operations/getPageDetails) where you can view details about the **type** and **subType** of the page, as well as other settings. \n\n\n", "parameters": [{"in": "path", "name": "id", "description": "The database identifier of a page.", "required": true, "schema": {"type": "integer", "readOnly": true, "summary": "The unique database identifier assigned to a page.", "description": "A unique identifier assigned to a page.", "example": 15314}, "example": 15314}], "requestBody": {"description": "Description of supporter and page related data to be processed by this request", "content": {"application/json": {"schema": {"type": "object", "properties": {"demo": {"type": "boolean", "description": "Request the page process run in 'demo' mode, which for donation processing means using a 'test' gateway with appropriate testing credentials rather than real cards, and for advocacy actions such as email to target all email traffic generated will go to the participating supporter's email address.", "default": false}, "suppressAutoResponder": {"description": "Do not send an autoresponder ('thank you email') after the page submission is completed.", "type": "boolean", "default": false}, "standardFieldNames": {"description": "Use standardised rather than account specific names within the 'supporter' object when referring to fields.", "type": "boolean", "default": false, "example": false}, "trackingId": {"type": "string", "description": "A value which is usually used to denote the origin of incoming traffic. May be passed as a the parameter as part of a link to a page using: **ea.tracking.id**", "maxLength": 300}, "appealCode": {"type": "string", "description": "An appeal code assigned to this submission. \n\n The value may be passed as a field present on the page, or with the url parameter **supporter.appealCode**. Any appeal code will be recorded on the supporter's record, and in regular page processing it will also be noted on the transactional level. \n\n!!! note \"Using appealCode with ENS\"\n \tWhen posting data using [processPage](https://developer.engagingnetworks.net/api/rest/index.html#/operations/processPage) or [processCardPayment](https://developer.engagingnetworks.net/api/rest/index.html#/operations/processCardPayment), the function of this field is more flexible, and can be *either* part of the supporter object **or** of the page object, and will be stored separately in each. The page-builder behaviour can easily be replicated by passing identical values for appealCode to **both** the page object **and** the supporter object in the post request.\n", "maxLength": 300, "example": "EOY"}, "locale": {"type": "string", "pattern": "^[a-z]{2,3}\\-[A-Z]{2}$", "description": "ISO 639-1 code identifying the language for this content.", "example": "fr-CA", "enum": ["en-GB", "en-US", "fr-CA", "fr-FR", "de-DE", "es-ES", "af-ZA", "ar-AE", "ar-BH", "ar-DZ", "ar-EG", "ar-IQ", "ar-JO", "ar-KW", "ar-LB", "ar-LY", "ar-MA", "ar-OM", "ar-QA", "ar-SA", "ar-SY", "ar-TN", "ar-YE", "be-BY", "bg-BG", "ca-ES", "cs-CZ", "cy-GB", "da-DK", "de-AT", "de-CH", "de-LI", "de-LU", "el-GR", "en-AU", "en-BZ", "en-CA", "en-IE", "en-JM", "en-NZ", "en-PH", "en-TT", "en-ZA", "en-ZW", "es-AR", "es-BO", "es-CL", "es-CO", "es-CR", "es-DO", "es-EC", "es-GT", "es-HN", "es-MX", "es-NI", "es-PA", "es-PE", "es-PR", "es-PY", "es-SV", "es-UY", "es-VE", "et-EE", "eu-ES", "fa-IR", "fi-FI", "fo-FO", "fr-BE", "fr-CH", "fr-LU", "fr-MC", "gl-ES", "gu-IN", "he-IL", "hi-IN", "hr-BA", "hr-HR", "hu-HU", "hy-AM", "id-ID", "is-IS", "it-CH", "it-IT", "ja-JP", "ka-GE", "kk-KZ", "kn-IN", "ko-KR", "kok-IN", "ky-KG", "lt-LT", "lv-LV", "mk-MK", "mn-MN", "mr-IN", "ms-BN", "ms-MY", "mt-MT", "nb-NO", "nl-BE", "nl-NL", "nn-NO", "pl-PL", "pt-BR", "pt-PT", "qu-BO", "qu-EC", "qu-PE", "ro-RO", "ru-RU", "se-FI", "se-NO", "se-SE", "sk-SK", "sl-SI", "sq-AL", "sr-BA", "sv-FI", "sv-SE", "sw-KE", "ta-IN", "te-IN", "th-TH", "tr-TR", "tt-RU", "uk-UA", "ur-PK", "vi-VN", "zh-CN", "zh-HK", "zh-SG", "zh-TW", "zu-ZA"]}, "txn1": {"description": "When used outside of API page processing, this field may be populated using the URL parameters *utm_source* **or** by the generic parameter *en_txn1*. Where both parameters are present in the URL, precedence can be controlled by page level settings. **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "txn2": {"description": "When used outside of API page processing, this field may be populated using the URL parameters *utm_medium* **or** by the generic parameter *en_txn2*.  Where both parameters are present in the URL, precedence can be controlled by page level settings. **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "txn3": {"description": "When used outside of API page processing, this field may be populated using the URL parameters *utm_campaign* **or** by the generic parameter *en_txn3*.  Where both parameters are present in the URL, precedence can be controlled by page level settings. **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "txn4": {"description": "When used outside of API page processing, this field may be populated using the URL parameters *utm_content* **or** by the generic parameter *en_txn4*. Where both parameters are present in the URL, precedence can be controlled by page level settings. **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "txn5": {"description": "When used outside of API page processing, this field may be populated using the URL parameters *utm_term* **or** by the generic parameter *en_txn5*.  Where both parameters are present in the URL, precedence can be controlled by page level settings. **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "txn6": {"description": "When used outside of API page processing, this field may also be populated by a user-defined page property [Page > Admin > Campaign References], **or**  by the url query parameter *en_txn6*.  When added as a page parameter, the field is referred to as Campaign Reference 1 in the dashboard settings.\nIf a value is presented in both places, the url query parameter will take precedence.  **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "txn7": {"description": "When used outside of API page processing, this field may also be populated by a user-defined page property [Page > Admin > Campaign References], **or**  by the url query parameter *en_txn7*.  When added as a page parameter, the field is referred to as Campaign Reference 2 in the dashboard settings. If a value is presented in both places, the url query parameter will take precedence.  **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "txn8": {"description": "When used outside of API page processing, this field may also be populated by a user-defined page property [Page > Admin > Campaign References], **or**  by the url query parameter *en_txn8*.  When added as a page parameter, the field is referred to as Campaign Reference 3 in the dashboard settings. If a value is presented in both places, the url query parameter will take precedence.  **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "txn9": {"description": "When used outside of API page processing, this field may also be populated by a user-defined page property [Page > Admin > Campaign References], **or**  by the url query parameter *en_txn9*.  When added as a page parameter, the field is referred to as Campaign Reference 4 in the dashboard settings. If a value is presented in both places, the url query parameter will take precedence.  **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "txn10": {"description": "When used outside of API page processing, this field may also be populated by a user-defined page property [Page > Admin > Campaign References], **or**  by the url query parameter *en_txn10*.  When added as a page parameter, the field is referred to as Campaign Reference 5 in the dashboard settings. If a value is presented in both places, the url query parameter will take precedence.  **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "supporter": {"description": "Describes a supporter with the fields named using standardised field names. These can be utilised in [**/page/process**](pageProcess) to simplify code targetting supporter fields.\n\nNote that the software allows for great flexibility when it comes to naming of fields, which means that the 'non-standard' names for each field will be dependent on the account.", "type": "object", "properties": {"emailAddress": {"type": "string", "title": "supporter email", "format": "email", "description": "The primary email address of a supporter, which will typically be used as the basis for identifying a unique supporter to which any transactions will be associated. ", "maxLength": 500, "example": "otto.nv@example.com"}, "title": {"type": "string", "title": "supporter title", "description": "A supporter's title to be used in salutations", "maxLength": 50, "example": "Dr"}, "firstName": {"type": "string", "title": "supporter first name", "description": "A supporter's first name", "maxLength": 500, "example": "Otto"}, "middleName": {"type": "string", "title": "supporter middle name", "description": "A supporter's middle name", "maxLength": 500, "example": "Niemand"}, "lastName": {"type": "string", "title": "supporter last name", "description": "A supporter's last name", "maxLength": 500, "example": "Normalverbraucher"}, "address1": {"type": "string", "title": "supporter address 1", "description": "The first line of the supporter's address", "maxLength": 1000}, "address2": {"type": "string", "title": "supporter address 2", "description": "The second line of the supporter's address", "maxLength": 1000}, "address3": {"type": "string", "title": "supporter address 3", "description": "The third line of the supporter's address", "maxLength": 1000}, "postcode": {"type": "string", "title": "supporter postcode", "description": "The supporter's postal or zip code", "maxLength": 200, "example": "12345"}, "city": {"type": "string", "title": "supporter city", "description": "The city in a supporter's address", "maxLength": 500, "example": "Musterstadt"}, "region": {"type": "string", "title": "supporter region", "description": "The supporter's region, state, county, province or similar", "maxLength": 500, "example": "Musterregion"}, "country": {"type": "string", "title": "supporter country", "description": "The supporter's country", "maxLength": 500, "example": "DE"}, "phoneNumber": {"type": "string", "title": "supporter phonenumber", "description": "The primary phone number for a supporter", "maxLength": 200, "example": "+49 4066969123"}, "appealCode": {"type": "string", "description": "An appeal code assigned to this submission. \n\n The value may be passed as a field present on the page, or with the url parameter **supporter.appealCode**. Any appeal code will be recorded on the supporter's record, and in regular page processing it will also be noted on the transactional level. \n\n!!! note \"Using appealCode with ENS\"\n \tWhen posting data using [processPage](https://developer.engagingnetworks.net/api/rest/index.html#/operations/processPage) or [processCardPayment](https://developer.engagingnetworks.net/api/rest/index.html#/operations/processCardPayment), the function of this field is more flexible, and can be *either* part of the supporter object **or** of the page object, and will be stored separately in each. The page-builder behaviour can easily be replicated by passing identical values for appealCode to **both** the page object **and** the supporter object in the post request.\n", "maxLength": 300, "example": "EOY"}, "anonymousDonor": {"type": "string", "description": "Flag to indicate if a donation is being made anonymously. The flag is stored on the supporter record, but can be passed with individual donations if the field is included on a form.  **Anonymous donors names should not be publicised.** ", "maxLength": 10, "example": "Y"}, "creditCardHolderName": {"type": "string", "title": "card holder name", "description": "The name of the credit card holder, as printed on the card. To be used when processing donations.", "maxLength": 500, "example": "MR OTTO NORMALVERBRAUCHER"}, "bankAccountNumber": {"type": "string", "title": "bank account number", "description": "The number of the bank account used for making donations.", "maxLength": 50, "example": "12345112"}, "bankRoutingNumber": {"type": "string", "title": "routing number", "description": "A bank routing number - sometimes known as a 'sort code' - required for donations via bank.", "maxLength": 20, "example": "074456"}, "bankAccountType": {"type": "string", "description": "A gateway dependent value for the type of bank account to charge, e.g CHECKING or SAVINGS.", "maxLength": 30, "example": "CHECKING"}, "password": {"type": "string", "deprecated": true, "description": "", "maxLength": 50, "example": "Cb8?01Pw!Q"}, "emailAddress2": {"type": "string", "format": "email", "description": "Supporter's secondary email address. \n\n **Note:** While this email field does **not** count as an indicator of the uniqueness of record, system settings may affect how this field behaves in particular with relation to external CRM systems.\n  Such a setting may be enabled if your organization represents a 'Contact' with multiple email addresses. Any email address used on submission will be also checked against this field to identify a supporter. \n  If a match is found then a new supporter record will *not* be created, and the transaction will be associated with this supporter. ", "maxLength": 500, "example": "otto.n@noaddress.ea"}, "secondAddress1": {"type": "string", "description": "Supporter's secondary address", "maxLength": 1000, "example": ""}, "secondAddress2": {"type": "string", "description": "Supporter's secondary address - floor, apartment, suite, etc.", "maxLength": 1000, "example": ""}, "secondPostcode": {"type": "string", "description": "Supporter's secondary address - postcode", "maxLength": 200, "example": ""}, "secondCity": {"type": "string", "description": "Supporter's secondary address - city", "maxLength": 500, "example": ""}, "secondRegion": {"type": "string", "description": "Supporter's secondary address - region", "maxLength": 500, "example": ""}, "secondCountry": {"type": "string", "description": "Supporter's secondary address - country", "maxLength": 500, "example": "GB"}, "phoneNumber2": {"type": "string", "description": "Supporter's secondary phone number, e.g cell phone or mobile number. This field is used by the Messaging services to handle delivery via SMS.", "pattern": "^\\+[1-9]\\d{1,14}$", "maxLength": 200, "example": "+44 7700 900123"}, "billingAddress1": {"type": "string", "description": "Supporter's billing address - first line", "maxLength": 1000, "example": ""}, "billingAddress2": {"type": "string", "description": "Supporter's billing address - second line (floor, apartment, suite, etc. )", "maxLength": 1000, "example": ""}, "billingPostcode": {"type": "string", "description": "Supporter's billing address - postcode", "maxLength": 500, "example": ""}, "billingCity": {"type": "string", "description": "Supporter's billing address - city", "maxLength": 500, "example": ""}, "billingRegion": {"type": "string", "description": "Supporter's billing address - region ", "maxLength": 500, "example": ""}, "billingCountry": {"type": "string", "description": "Supporter's billing address - country", "maxLength": 500, "example": ""}, "organization": {"type": "string", "title": "supporter organization", "description": "The name of the supporter's organization", "maxLength": 500, "example": "Freiwillige"}, "chapter": {"type": "string", "description": "The chapter of an organization this supporter belongs to", "maxLength": 500, "example": "Musterstadt S\u00fcd"}, "language": {"type": "string", "description": "The supporter's preferred language", "maxLength": 200, "example": "German"}, "suffix": {"type": "string", "description": "The suffix to use for the constituent", "maxLength": 50, "example": "PhD"}, "dateOfBirth": {"type": "string", "description": "Supporter's date of birth. The format YYYY-MM-DD is **required** for this field by the software.", "format": "date", "pattern": "^\\d{4}-\\d{2}-\\d{2}$", "maxLength": 20, "example": "1938-11-11"}, "geo": {"type": "object", "description": "The supporter's geographical location, as indicated by coordinates supplied as latitude and longitude.", "properties": {"latitude": {"type": "number", "format": "decimal", "description": "The latitude of the location, North or South (-) of the equator.", "example": 40.7128}, "longitude": {"type": "number", "format": "decimal", "description": "The longitude of the location, East or West (-) of the Greenwhich meridian. ", "example": 74.006}}}, "sendOffset": {"type": "string", "description": "Nearest Time Offset of the supporter's location.  When updating manually, the value **must** be in the correct format, and be one of the supported offset times (positive or negative) in hours and minutes from UTC.  Offsets that appear outside of the allowed values are shifted to the nearest available supported timezone.", "pattern": "^(?:(?:[+-](?:1[0-4]|0[1-9]):[0-5][0-9])|00:00)$", "maxLength": 50, "enum": ["+10:00", "+09:30", "+09:00", "+08:00", "+05:30", "+03:00", "+01:00", "+00:00", "-00:00", "-03:00", "-04:00", "-05:00", "-06:00", "-07:00", "-08:00"], "example": "+01:00"}, "NOT_TAGGED_1": {"type": "string", "description": "Up to 300 generic fields can be created to be used to store any type of information. \n\n These fields are automatically assigned the next available number (1-300) when they are added as part of an *Account Data Structure*, so their functional assignment in a particular account should be determined by a call to **/supporter/fields**, or by a quick visit to the dashboard where both the field name and the assigned 'tag' can be observed.\n\n **DO NOT** push any data into numbered fields that have not yet been assigned a function in the account's *Data Structure*.", "maxLength": 4000, "example": ""}, "questions": {"type": "object", "description": "An object containing the questions we wish to record answers to for this supporter.  In the dashboard questions are organised as 'Questions' and 'Opt-in'. While both types are technically questions, their function is slightly different.  'Questions' are quite generic in nature, have a user defined role and can be used to collect (almost) any type of information. Questions created as an 'Opt-in' type have a specific role in the software, as they are used for recording supporter consent relating to any type of communication.", "properties": {"Opt-in": {"description": "An example question with the dashboard name 'Opt-in', set up in the dashboard to be an Opt-in.\n\n When the *standardFieldNames* parameter is used in /page/process, it is also possible to refer to questions by their id (as seen in /supporter/questions) using a name such as *question.{id}*'", "enum": ["Y", "N"], "maxLength": 1}, "Comments": {"description": "An **example** question with the dashboard name 'Comments', set up in the dashboard to be a generic type of Question", "type": "string", "maxLength": 2000, "example": "I decided to opt-out of receiving your newsletters because I have too much stuff to read..."}}}}, "example": {"emailAddress": "otto.nv@example.com", "address1": "64 Clerkenwell Road", "address2": "", "address3": ""}}, "transaction": {"description": "Provides the necessary parameters required to set up a netdonor payment process.", "type": "object", "properties": {"donationAmt": {"type": "number", "format": "decimal", "description": "Processing amount, presented as a decimal number without any currency symbols.  The amount may be omitted for pagetypes where the amount to be processed is calculated by the page processing, for example when purchasing tickets for events or certain types of symbolic gifts. The amount will also include any additions made by any optional Fee Cover requested.", "example": 5}, "paymenttype": {"type": "string", "title": "payment type", "description": "Passed as a value or determined by a payment gateway, this describes the payment type to use for the transaction. Valid types may vary depending on the payment gateway used.\t  Some payment types, e.g **CASH**, **CHECK** or **WIRE** may be used to indicate offline donations, or to process 'free' items. Such donations will not be possible to reconcile with an external payment gateway.\t In output, the prefix **TEST:** indicates a transaction carried out in a *DEMO* mode. These transactions should also not be considered for reconciliation purposes. \t The prefix **digitalwallet:** is added if the payment was made using a digital wallet integration.", "maxLength": 50, "example": "VISA"}, "paycurrency": {"type": "string", "title": "currency", "description": "The ISO 4217 code of the currency used for this transaction. When processing payments, it is important to note that currency support is gateway dependent, so be sure to check with your designated payment gateway that the selected currency is supported and has been enabled for your account.", "example": "GBP"}, "ccnumber": {"type": "string", "title": "credit card number", "description": "The credit card number to charge when processing this payment. **Note:** We do not process any credit card information, so this value will be represented by a token.", "x-vgs-required": true, "maxLength": 18, "example": ""}, "ccexpire": {"type": "string", "title": "card expiry", "description": "The card expiry date. The exact format is dependent on the payment gateway used to process the transaction.", "maxLength": 8, "pattern": "^\\d{2}\\/?(\\d{2}|\\d{4})$", "example": "10/26"}, "ccvv": {"type": "string", "minLength": 3, "maxLength": 4, "description": "A verification value or code printed on the credit card being used for this transaction. May be 3 or 4 characters depending on the card issuer. **Note:** We do not process any credit card information, so this value will be represented by a token.", "example": "654"}, "recurrpay": {"type": "string", "title": "Recurring Payment", "description": "This donation should be recurring according to a schedule. ", "maxLength": 1, "enum": ["Y", "N"], "default": "N"}, "recurrfreq": {"type": "string", "title": "Recurring Frequency", "description": "The schedule used for processing recurring payments. \n\n Typical frequency for recurring charges are usually monthly, quarterly, every six months ('semi annually'), or annually.", "enum": ["MONTHLY", "QUARTERLY", "SEMI_ANNUAL", "ANNUAL"], "default": "MONTHLY", "example": "MONTHLY"}, "recurrday": {"type": "number", "nullable": true, "title": "Recurring Day", "description": "For recurring payment schedules, this denotes the day of the month when a payment should be processed.  If a Recurring Start Date was also provided, the processing day will be valid for the periods after the *initial* payment.", "minValue": 1, "maxValue": 29, "example": 13}, "recurrstart": {"type": "string", "title": "ISO formatted Recurring Start Date", "description": "The date when the *first* payment in a recurring payment schedule should be pushed [MM/DD/YYYY]. Works in conjunction with *Recurring Day*", "pattern": "^\\d{4}-\\d{2}-\\d{2}$", "example": "2021-02-29", "maxLength": 20}, "recurrend": {"type": "string", "title": "Recurring Expiry", "description": "The expiry date of the card associated with this recurring payment [MM/YYYY].", "pattern": "^\\d{2}/\\d{4}$", "example": "06/2030"}, "recurrcnt": {"type": "string", "title": "Recurring Count", "description": "The number of recurring donation payments to process with this schedule.", "example": 12}, "recurprd": {"type": "number", "title": "Recurring Period", "description": "A gateway dependent value used to determine the interval between recurring payments."}, "dirgift": {"type": "string", "title": "direct gift", "description": "The designation of target or purpose the donor has specified for how they want their gift to be used.", "maxLength": 255, "example": ""}, "shipenabled": {"type": "string", "description": "Enable the collection of separate recipient details for the specific purpose of shipping.", "enum": ["Y", "N"]}, "shiptitle": {"type": "string", "title": "shipping title", "description": "Applicable if Shipping Enabled is set to 'Y' on submission, and describes the entry for Title to use for shipping purposes. If shipping is not enabled for this transaction, then this value will typically reflect the value on the supporter's record for the tagged field for **Title**.", "maxLength": 50, "example": "Dr"}, "shipfname": {"type": "string", "title": "shipping first name", "description": "Applicable if Shipping Enabled is set to 'Y' on submission, and describes the entry for First Name to use for shipping purposes. If shipping is not enabled for this transaction, then this value will typically reflect the value on the supporter's record for the tagged field for **First Name**.", "maxLength": 100, "example": "Otto"}, "shiplname": {"type": "string", "title": "shipping last name", "description": "Applicable if Shipping Enabled is set to 'Y' on submission, and describes the entry for Last Name to use for shipping purposes. If shipping is not enabled for this transaction, then this value will typically reflect the value on the supporter's record for the tagged field for **Last Name**.", "maxLength": 100, "example": "Normalverbraucher"}, "shipemail": {"type": "string", "title": "shipping email", "description": "Applicable if Shipping Enabled is set to 'Y' on submission, and describes the entry for Email to use for shipping purposes. If shipping is not enabled for this transaction, then this value will typically reflect the value on the supporter's record for the tagged field for **Email Address**.", "maxLength": 100, "example": "otto@example.com"}, "shipadd1": {"title": "shipping address 1", "description": "Applicable if Shipping Enabled is set to 'Y' on submission, and describes the entry for Address 1 to use for shipping purposes. If shipping is not enabled for this transaction, then this value will typically reflect the value on the supporter's record for the tagged field for **Address 1**.", "type": "string", "maxLength": 200, "example": ""}, "shipadd2": {"type": "string", "title": "shipping address 2", "description": "Applicable if Shipping Enabled is set to 'Y' on submission, and describes the entry for Address 2 to use for shipping purposes. If shipping is not enabled for this transaction, then this value will typically reflect the value on the supporter's record for the tagged field **Address 2**.", "maxLength": 200}, "shipcity": {"type": "string", "title": "shipping city", "description": "Applicable if Shipping Enabled is set to 'Y' on submission, and describes the entry for City to use for shipping purposes. If shipping is not enabled for this transaction, then this value will typically reflect the value on the supporter's record for the tagged field for **City**.", "maxLength": 100, "example": "Musterstadt"}, "shippostcode": {"type": "string", "title": "shipping postcode", "description": "Applicable if Shipping Enabled is set to 'Y' on submission, and describes the entry for Post or ZIP Code to use for shipping purposes. If shipping is not enabled for this transaction, then this value will typically reflect the value on the supporter's record for the tagged field for **Postcode**.", "maxLength": 50, "example": "12345"}, "shipregion": {"type": "string", "title": "shipping region", "description": "Applicable if Shipping Enabled is set to 'Y' on submission, and describes the entry for Region to use for shipping purposes. If shipping is not enabled for this transaction, then this value will typically reflect the value on the supporter's record for the tagged field for **Region**.", "maxLength": 100, "example": "Musterregion"}, "shipnotes": {"type": "string", "title": "shipping notes", "description": "Shipping Notes. This may refer to any note added to shipping details, or any personal message added by the supporter to any electronic message or postal card that has been requested to be sent.", "maxLength": 2000}, "inmem": {"type": "string", "title": "in memoriam", "description": "Flag to indicate if the donation is being made in Memory or Honor of someone. \n\n *In Memoriam* gifts allows the supporter to record additional details particularly relating to the memorial nature of the gift.  Note that **any other value** other than **Y** will result in the **In Memoriam** data **not** being recorded. All details supplied to the In Memoriam fields will be represented with a separate FIM transaction, which can be linked to the donation using the transaction identifiers.", "maxLength": 1, "enum": ["Y"], "example": "Y", "nullable": true}, "honname": {"type": "string", "description": "The name of the person in whose Honor the *In Memoriam Gift* is made.", "maxLength": 400, "example": "Major Tom"}, "infname": {"type": "string", "description": "Name of the person being informed of an *In Memoriam Gift*.", "maxLength": 400, "example": ""}, "infemail": {"type": "string", "description": "Email address of the person being informed of an *In Memoriam Gift*.", "maxLength": 400, "example": ""}, "infadd1": {"description": "Address line 1 of the person being informed of an *In Memoriam Gift*.", "type": "string", "maxLength": 400, "example": ""}, "infadd2": {"description": "Address line 2 of the person being informed of an *In Memoriam Gift* - floor, apartment, suite, etc. ", "type": "string", "maxLength": 400, "example": ""}, "infcity": {"description": "City of the person being informed of an *In Memoriam Gift*.", "type": "string", "maxLength": 400, "example": ""}, "infpostcd": {"description": "Postcode of the person being informed of an *In Memoriam Gift*.", "type": "string", "maxLength": 400, "example": ""}, "infreg": {"description": "Region, State/Province of the person being informed of an *In Memoriam Gift*.", "type": "string", "maxLength": 400, "example": ""}, "infcountry": {"description": "Country of the person being informed of an *In Memoriam Gift*.", "type": "string", "maxLength": 400, "example": ""}, "recnzegft": {"type": "string", "description": "Indicates if the *In Memoriam Gift* should be specially recognised.", "maxLength": 1, "enum": ["Y", "N"], "example": "Y"}, "trbopts": {"type": "string", "description": "Specific choices of tribute options for an *In Memoriam Gift*. ", "maxLength": 400, "example": "In memory of"}, "gftrsn": {"type": "string", "description": "The reason the *In Memoriam Gift* is being made.", "maxLength": 4000, "example": "Tom was such a crucial member of our local community, and left such an impression on everyone he met."}, "othamt1": {"type": "string", "title": "other1", "description": "**Other 1**: A client defined tagged field which can be used to store any additional data that may relate to the current transaction.", "maxLength": 500, "example": "Text containing some information that could prove useful when we handle this transaction, for example additional notes from a supporter directly relating to this particular donation."}, "othamt2": {"type": "string", "title": "other2", "description": "**Other 2**: A client defined tagged field which can be used to store any additional data that may relate to the current transaction.", "maxLength": 500, "example": "Text containing some information that could prove useful when we handle this transaction, for example additional notes from a supporter directly relating to this particular donation."}, "othamt3": {"type": "string", "title": "other3", "description": "**Other 3**: A client defined tagged field which can be used to store any additional data that may relate to the current transaction.", "maxLength": 500, "example": "Text containing some information that could prove useful when we handle this transaction, for example additional notes from a supporter directly relating to this particular donation."}, "othamt4": {"type": "string", "title": "other4", "description": "**Other 4**: A client defined tagged field which can be used to store any additional data that may relate to the current transaction.", "maxLength": 500, "example": "Text containing some information that could prove useful when we handle this transaction, for example additional notes from a supporter directly relating to this particular donation."}}, "example": {"paymenttype": "Visa", "donationAmnt": 2, "paycurrency": "GBP", "ccnumber": "4111111111111111", "ccvv": "123", "othamt3": "I can also provide sandwiches for the event"}}, "product": {"description": "Applicable only to donation pages with the sub-type PREMIUM. Selects the product chosen by the donor. Note that if values for both product selectors are provided, the *productVariantId* will take precedence.", "type": "object", "properties": {"productVariantId": {"type": "integer", "description": "The unique database identifier for a product variant.", "example": 1409}, "productSku": {"type": "string", "description": "The user assigned Stock Keeping Unit for this product variant.", "example": "TP3L"}}, "additionalProperties": false, "minProperties": 1}, "event": {"description": "Provides the necessary parameters to make an event booking for a supporter.", "type": "object", "properties": {"additionalAmount": {"type": "number", "format": "decimal", "description": "An (optional) additional donation amount, which is part of the calculated total for the ticket order.", "example": 2}, "discount": {"type": "string", "description": "The discount code applied to the ticket order.", "example": "AUG23"}, "tickets": {"type": "array", "items": {"type": "object", "properties": {"ticketId": {"type": "number", "format": "integer", "readOnly": true, "description": "A numerical identifier representing a ticket.", "example": 490}, "quantity": {"description": "The number of tickets in this order. **Note**: When passing this as input, the associated details for an equal number of attendees should also be submitted.", "type": "number", "format": "integer", "example": 2}, "attendees": {"description": "Personal details for each attendee. Only the **emailAddress** is required for an attendee, the other fields are optional.", "type": "array", "items": {"type": "object", "properties": {"title": {"type": "string", "description": "An attendee's title.", "example": "Dr"}, "firstName": {"type": "string", "description": "An attendee's first name.", "example": "Otto"}, "lastName": {"type": "string", "description": "An attendee's last name.", "example": "Normalverbraucher"}, "emailAddress": {"type": "string", "required": true, "description": "An attendee's email address.", "example": "otto.nv@example.com"}, "address1": {"type": "string", "description": "An attendee's first line of address."}, "address2": {"type": "string", "description": "An attendee's second line of address."}, "city": {"type": "string", "description": "An attendee's city."}, "region": {"type": "string", "description": "An attendee's region."}, "postCode": {"type": "string", "description": "An attendee's ZIP or postcode."}, "country": {"type": "string", "description": "An attendee's country."}, "phoneNumber": {"type": "string", "description": "An attendee's phone number."}, "dietaryPreference": {"type": "string", "description": "Notes on an attendee's dietary preferences, if any."}, "mobilityRequirement": {"type": "string", "description": "Notes on an attendee's mobility requirements, if any."}, "other1": {"type": "string", "description": "**Custom 1**: A client defined field used to store additional data. The content of this field will be automatically truncated if maximum length is exceeded, with the three last characters replaced by ... to indicate that the string has been truncated", "maxLength": 100}, "other2": {"type": "string", "description": "**Custom 2**: A client defined field used to store additional data. The content of this field will be automatically truncated if maximum length is exceeded, with the three last characters replaced by ... to indicate that the string has been truncated", "maxLength": 100}, "other3": {"type": "string", "description": "**Custom 3**: A client defined field used to store additional data. The content of this field will be automatically truncated if maximum length is exceeded, with the three last characters replaced by ... to indicate that the string has been truncated", "maxLength": 100}, "other4": {"type": "string", "description": "**Custom 4**: A client defined field used to store additional data. The content of this field will be automatically truncated if maximum length is exceeded, with the three last characters replaced by ... to indicate that the string has been truncated", "maxLength": 100}, "other5": {"type": "string", "description": "**Custom 5**: A client defined field used to store additional data. The content of this field will be automatically truncated if maximum length is exceeded, with the three last characters replaced by ... to indicate that the string has been truncated", "maxLength": 100}, "other6": {"type": "string", "description": "**Custom 6**: A client defined field used to store additional data. The content of this field will be automatically truncated if maximum length is exceeded, with the three last characters replaced by ... to indicate that the string has been truncated", "maxLength": 100}}}}}}, "example": {"additionalAmount": 2, "discount": "AUG23", "tickets": [{"ticketId": 252, "quantity": 1, "attendees": [{"title": "Mr", "firstName": "Otto", "lastName": "Normalverbraucher", "emailAddress": "otto.nv@example.com"}]}]}}}}, "membership": {"description": "Provides the necessary parameters to set up a membership of a particular variant, as defined in the account dashboard.", "type": "object", "properties": {"promoCode": {"type": "string", "description": "A promotional code to apply to this order.", "example": "23EOYPROMO"}, "membershipVariantId": {"type": "integer", "description": "An identifier representing the particular variant of a membership. The variants created in the dashboard indicate different membership terms, each with separate duration and cost. \n", "example": 175}, "members": {"type": "array", "items": {"type": "object", "properties": {"firstName": {"type": "string", "description": "An associated member's first name"}, "lastName": {"type": "string", "description": "A member's last name"}, "emailAddress": {"type": "string", "description": "An associated member's email address"}, "address1": {"type": "string", "description": "An associated member's first line of address"}, "city": {"type": "string", "description": "An associated member's city"}, "region": {"type": "string", "description": "An associated member's region"}, "postcode": {"type": "string", "description": "An associated member's ZIP or postcode"}, "country": {"type": "string", "description": "An associated member's country"}, "phoneNumber": {"type": "string", "description": "An associated member's phone number"}}, "example": {"firstName": "Otto", "lastName": "Normalverbraucher", "emailAddress": "otto.nv@example.com"}}}}}, "contactMessage": {"description": " A message template to be sent to a target. For both **subject** and **content**, a number of inserts are available to add some personalised content.\n", "type": "object", "properties": {"subject": {"type": "string", "description": "The subject line for the message to a target contact. ", "example": "We are taking action, why aren't you?"}, "message": {"type": "string", "description": "The main body of the message to a target contact. The message can be customised with dynamic data by using inserts for to add details about the supporter (from field inputs or questions), or about the contact using data from the target record.\n#### Inserting supporter data\nA supporter inserts can be formulated using a format of *{user_data~Fieldname}*, where **Fieldname** is the name of the field in the account.  e.g {user_data~Email Address}. *standardFieldNames* can not be used for this purpose, however the given names used in the account can be looked up by calling [listSupporterFields](/operations/listSupporterFields).\n#### Inserting data about the target contact\nA contact record has a number of fields which can be used to provide some customisation for both the content and the subject of a message:\n\n\n{contact_data~salutation}\n\n {contact_data~organization}\n\n {contact_data~positionHeld}\n\n {contact_data~title}\n\n {contact_data~firstName}\n\n {contact_data~lastName}\n\n {contact_data~suffix}\n\n {contact_data~faxNumber}\n\n {contact_data~address1}\n\n {contact_data~address2}\n\n {contact_data~address3}\n\n {contact_data~city}\n\n {contact_data~region}\n\n {contact_data~postalCode}\n\n {contact_data~country}\n\n {contact_data~partyImgUrl}\n\n {contact_data~bio1}\n\n {contact_data~bio2}\n\n {contact_data~bio3} *(represent the X handle of the contact)*\n\n {contact_data~bio4}\n\n {contact_data~bio5}\n\n {contact_data~bio6}\n\n {contact_data~bio7}\n\n {contact_data~bio8} *(represents the Party of the contact)*\n\n\n", "example": "Dear {contact_data~title} {contact_data~lastName}. I am reaching out to you now because we have had enough ..."}, "messageFormat": {"type": "string", "description": "By default, all messages are sent to a target as plain text. If passing a 'contactMessage' with a message containing a HTML payload, the format for the resulting email encoding can be selected with 'messageFormat'. ", "nullable": true, "oneOf": [{"title": null, "const": null, "description": "By default, all messages are sent to the target as plain text. 'messageFormat' can be passed if a different email encoding is needed. "}, {"title": "H", "const": "H", "description": "**H**: HTML only. The 'contactMessage' will be sent as a HTML payload only."}, {"title": "B", "const": "B", "description": "**B**: The 'contactMessage' should be sent as a multi-part message with both a HTML and a plain text component."}]}}}}}, "examples": {"Single Card Donation - Using a Test Gateway": {"summary": "A simple test donation - using a Test Gateway", "description": "While the 'vault' endpoint has to be used to process live credit card details, test payments using a card payment method and the gateway supplied card details may be carried out.", "value": {"demo": true, "suppressAutoResponder": true, "standardFieldNames": true, "supporter": {"emailAddress": "otto.nv@example.com", "title": "Mr", "firstName": "Otto", "lastName": "Normalverbraucher", "address1": "13er Umweg", "city": "Hamburg", "postcode": "20506", "country": "DE", "questions": {"Opt-in": "Y"}}, "transaction": {"donationAmt": 2, "paymenttype": "VISA", "ccnumber": "4242424242424242", "paycurrency": "GBP", "ccexpire": "1231", "ccvv": "123"}}}, "Data Capture - Simple Petition": {"summary": "Sign a simple petition", "value": {"suppressAutoResponder": true, "standardFieldNames": false, "supporter": {"Email Address": "otto.nv@example.com", "First Name": "Otto", "Last Name": "Normalverbraucher", "questions": {"Opt-in": "Y"}}}}, "Autoresponder in selected locale": {"summary": "Autoresponder in selected locale. Note the locale does need to be enabled for the page, and the content enabled.", "value": {"suppressAutoResponder": false, "standardFieldNames": false, "locale": "de-DE", "supporter": {"Email Address": "otto.nv@example.com", "First Name": "Otto", "Last Name": "Normalverbraucher", "Address 1": "13er Umweg", "City": "Hamburg", "Postcode": "20506", "Country": "DE", "questions": {"Opt-in": "Y"}}}}, "Event - booking a free ticket": {"summary": "Booking a free ticket", "value": {"standardFieldNames": true, "supporter": {"emailAddress": "otto.nv@example.com", "title": "Mr", "firstName": "Otto", "lastName": "Normalverbraucher", "address1": "13er Umweg", "city": "Hamburg", "postcode": "20506", "country": "DE", "questions": {"Opt-in": "Y"}}, "transaction": {"paymenttype": "CASH", "paycurrency": "GBP"}, "event": {"tickets": [{"ticketId": 4874, "quantity": 1, "attendees": [{"emailAddress": "otto.nv@example.com", "firstName": "Otto", "lastName": "Normalverbraucher"}]}]}}}, "Email to Target": {"summary": "A supporter sends a customised message to a contact. The contact to be reached is identified by a postcode lookup on the postcode submitted for this supporter", "value": {"demo": true, "suppressAutoResponder": false, "supporter": {"Email Address": "otto.nv@example.com", "First Name": "Otto", "Last Name": "Normalverbraucher", "Street Address": "Garden Avenue 2000", "City": "London", "Country": "GB", "Postcode": "EC1M5PX", "questions": {"Opt-in": "Y"}}, "contactMessage": {"subject": "This is the subject I had been thinking of", "message": "{contact_data~salutation}, thank you for your commitment to our cause."}}}, "Email to Target - HTML email": {"summary": "A supporter sends a customised message to a contact in HTML format. The contact to be reached is identified by a postcode lookup on the postcode submitted for this supporter.", "value": {"demo": true, "suppressAutoResponder": false, "supporter": {"Email Address": "otto.nv@example.com", "First Name": "Otto", "Last Name": "Normalverbraucher", "Street Address": "Garden Avenue 2000", "City": "London", "Country": "GB", "Postcode": "EC1M5PX", "questions": {"Opt-in": "Y"}}, "contactMessage": {"message": "<html><head><title>Hello There!</title></head><body><h2>Well, hello there</h2>I have tried my best to not <i>not only write</i> this email, but to also make it look <b>bold</b> and stuff...</body></html>", "subject": "Well, hello there", "messageFormat": "H"}}}, "ACH via Stripe": {"summary": "ACH via Stripe", "value": {"demo": true, "suppressAutoResponder": true, "standardFieldNames": true, "supporter": {"emailAddress": "otto.nv@example.com", "title": "Mx", "firstName": "Otto", "lastName": "Normalverbraucher", "address1": "1602 Doddleton Road", "city": "Arlington", "postcode": "22046", "country": "US", "region": "VA", "bankAccountNumber": "000123456789", "bankRoutingNumber": "110000000", "creditCardHolderName": "OTTO NORMALVERBRAUCHER", "questions": {"Opt-in": "Y"}}, "transaction": {"donationAmt": 10, "paymenttype": "ach_bank", "paycurrency": "USD"}}}, "Secure storage of Bank Account details": {"summary": "Capture bank account details - using an Encrypted Bank Store", "value": {"demo": true, "suppressAutoResponder": true, "standardFieldNames": true, "supporter": {"emailAddress": "otto.nv@example.com", "title": "Mr", "firstName": "Otto", "lastName": "Normalverbraucher", "address1": "Doddleton Road 1", "city": "Norwich", "postcode": "NR3 1LA", "country": "GB", "bankAccountNumber": "12345678", "bankRoutingNumber": "123456", "questions": {"Opt-in": "Y"}}, "transaction": {"donationAmt": 2, "paymenttype": "en_bank", "paycurrency": "GBP", "recurrpay": "Y", "recurrfreq": "MONTHLY", "recurrday\"": "15"}}}}}}}, "responses": {"200": {"description": "Page process result", "content": {"application/json": {"schema": {"type": "object", "description": "Detail about the current page transaction.", "properties": {"status": {"description": "Page processing status", "type": "string", "enum": ["SUCCESS", "ERROR"]}, "id": {"type": "integer", "description": "The database identifier used to refer to a campaign", "example": 12446}, "supporterId": {"type": "integer", "title": "supporterId", "description": "The unique numerical database identifier for a supporter.", "example": 212200, "default": 0}, "supporterEmailAddress": {"type": "string", "title": "supporter email", "format": "email", "description": "The primary email address of a supporter, which will typically be used as the basis for identifying a unique supporter to which any transactions will be associated. ", "maxLength": 500, "example": "otto.nv@example.com"}, "type": {"type": "string", "title": "transaction type", "description": "The type of fundraising transaction being described.", "oneOf": [{"title": "CASH", "const": "CASH", "description": "The transaction was recorded as a cash payment."}, {"title": "CHECK", "const": "CHECK", "description": "The transaction was recorded as a payment made via check."}, {"title": "CREDIT_SINGLE", "const": "CREDIT_SINGLE", "description": "The transaction is for a one-off payment taken using a credit or debit card."}, {"title": "CREDIT_RECURRING", "const": "CREDIT_RECURRING", "description": "The transaction is part of a recurring payment schedule using a credit or debit card."}, {"title": "RECUR_UNMANAGED", "const": "RECUR_UNMANAGED", "description": "The transaction is part of a recurring payment schedule, but the processing of associated payments is not carried out by Engaging Networks."}, {"title": "BANK_RECURRING", "const": "BANK_RECURRING", "description": "The transaction is part of a recurring payment schedule taking funds directly from a donors bank account."}, {"title": "BANK_SINGLE", "const": "BANK_SINGLE", "description": "The transaction is for a one-off payment taken directly from a donors bank account."}], "example": "CREDIT_SINGLE"}, "transactionId": {"type": "string", "title": "gateway transaction id", "description": "The transaction identifier as provided by a payment gateway. If the current transaction is a refund, then this identifier points back to the transaction being refunded. The specific formatting of the identifier will be dependent on the gateway.", "example": "ND8390T284740397745210972__cus_O20rrZCTq8iTpw__ch_3NFwqEHh8CrK50QS1uUEXjck"}, "error": {"description": "Any message, including error codes provided by a payment gateway if a transaction is rejected. Refer to the documentation provided by the relevant payment gateway for details.", "type": "string", "nullable": true, "example": "The card type provided is not supported for this transaction"}, "amount": {"type": "number", "format": "decimal", "description": "Processing amount, presented as a decimal number without any currency symbols.  The amount may be omitted for pagetypes where the amount to be processed is calculated by the page processing, for example when purchasing tickets for events or certain types of symbolic gifts. The amount will also include any additions made by any optional Fee Cover requested.", "example": 5}, "currency": {"type": "string", "title": "currency", "description": "The ISO 4217 code of the currency used for this transaction. When processing payments, it is important to note that currency support is gateway dependent, so be sure to check with your designated payment gateway that the selected currency is supported and has been enabled for your account.", "example": "GBP"}, "recurringPayment": {"description": "Indicates whether the payment was set up to be recurring", "type": "boolean", "default": false}, "paymentType": {"type": "string", "title": "payment type", "description": "Passed as a value or determined by a payment gateway, this describes the payment type to use for the transaction. Valid types may vary depending on the payment gateway used.\t  Some payment types, e.g **CASH**, **CHECK** or **WIRE** may be used to indicate offline donations, or to process 'free' items. Such donations will not be possible to reconcile with an external payment gateway.\t In output, the prefix **TEST:** indicates a transaction carried out in a *DEMO* mode. These transactions should also not be considered for reconciliation purposes. \t The prefix **digitalwallet:** is added if the payment was made using a digital wallet integration.", "maxLength": 50, "example": "VISA"}, "recurringFrequency": {"type": "string", "title": "Recurring Frequency", "description": "The schedule used for processing recurring payments. \n\n Typical frequency for recurring charges are usually monthly, quarterly, every six months ('semi annually'), or annually.", "enum": ["MONTHLY", "QUARTERLY", "SEMI_ANNUAL", "ANNUAL"], "default": "MONTHLY", "example": "MONTHLY"}, "recurringDay": {"type": "number", "nullable": true, "title": "Recurring Day", "description": "For recurring payment schedules, this denotes the day of the month when a payment should be processed.  If a Recurring Start Date was also provided, the processing day will be valid for the periods after the *initial* payment.", "minValue": 1, "maxValue": 29, "example": 13}, "createdOn": {"type": "integer", "description": "Timestamp (UNIX epoch) indicating when this item was created", "example": 1576167575000}}}, "example": {"status": "SUCCESS", "id": 234265, "supporterId": 212200, "supporterEmailAddress": "otto.nv@example.com"}}}}, "401": {"description": "Unauthorised", "content": {"application/json": {"schema": {"type": "object", "properties": {"message": {"type": "string", "description": "An error relating to the use of the API was encountered."}}}, "examples": {"Invalid authentication token": {"summary": "An invalid ens-auth-token was provided", "value": {"message": "Invalid ens-auth-token"}}, "Usage limit exceeded": {"summary": "The call limit for a user has been exceeded", "value": {"message": "The user with username [apiuser@example.com] has exceeded its api limit."}}}}}}}, "tags": ["Page Services"]}}, "/page/{id}/process/": {"servers": [{"url": "https://ca-vault.engagingnetworks.app/ens/service", "description": "Canada / Europe (VGS)"}, {"url": "https://us-vault.engagingnetworks.app/ens/service", "description": "United States (VGS)"}], "post": {"operationId": "processCardPayment", "summary": "Process a Card Payment Page Request", "description": "\n### Better security for direct processing of card payments ###\nAll credit card data submitted through this service will be tokenised before being processed. \n\n<!-- theme: info --> \n> #### When to use\n> This endpoint is noted by the presence of the appendix '**-vault**' in the *host* part of the base URL, and should be used to process **live** card donations which have credit card details included in the transaction object (specifically '**ccnumber**' and '**ccvv**'). \n> #### Please note\n> This service is only suitable for processing requests that do not require any third-party redirects or similar during page processing - such as lightboxes or redirects. This means that **payments such as PayPal (pay via PayPal), Venmo, Apple Pay, Google Pay and Chariot DAF are not supported**.  \nThe endpoint should not be used for processing where a 'demo' mode is being used for testing (e.g when using the gateway supplied 'test card' details), or where the payment does *not* include any credit card information (such as bank, check or cash type transactions), or for any other types of page processing, e.g advocacy or engagement activity etc.\n\n \nFor more examples of page processing, and for processing other types of page objects (including how to test flows using demo mode), please refer to [*/page/{id}/processPage*](/operations/processPage). \n\n\n<!-- theme: info --> \n\n", "parameters": [{"in": "path", "name": "id", "description": "The database identifier of a page.", "required": true, "schema": {"type": "integer", "readOnly": true, "summary": "The unique database identifier assigned to a page.", "description": "A unique identifier assigned to a page.", "example": 15314}, "example": 15314}], "requestBody": {"description": "Description of supporter and page related data to be processed by this request", "content": {"application/json": {"schema": {"type": "object", "properties": {"demo": {"type": "boolean", "description": "Request the page process run in 'demo' mode, which for donation processing means using a 'test' gateway with appropriate testing credentials rather than real cards, and for advocacy actions such as email to target all email traffic generated will go to the participating supporter's email address.", "default": false}, "suppressAutoResponder": {"description": "Do not send an autoresponder ('thank you email') after the page submission is completed.", "type": "boolean", "default": false}, "standardFieldNames": {"description": "Use standardised rather than account specific names within the 'supporter' object when referring to fields.", "type": "boolean", "default": false, "example": false}, "trackingId": {"type": "string", "description": "A value which is usually used to denote the origin of incoming traffic. May be passed as a the parameter as part of a link to a page using: **ea.tracking.id**", "maxLength": 300}, "appealCode": {"type": "string", "description": "An appeal code assigned to this submission. \n\n The value may be passed as a field present on the page, or with the url parameter **supporter.appealCode**. Any appeal code will be recorded on the supporter's record, and in regular page processing it will also be noted on the transactional level. \n\n!!! note \"Using appealCode with ENS\"\n \tWhen posting data using [processPage](https://developer.engagingnetworks.net/api/rest/index.html#/operations/processPage) or [processCardPayment](https://developer.engagingnetworks.net/api/rest/index.html#/operations/processCardPayment), the function of this field is more flexible, and can be *either* part of the supporter object **or** of the page object, and will be stored separately in each. The page-builder behaviour can easily be replicated by passing identical values for appealCode to **both** the page object **and** the supporter object in the post request.\n", "maxLength": 300, "example": "EOY"}, "locale": {"type": "string", "pattern": "^[a-z]{2,3}\\-[A-Z]{2}$", "description": "ISO 639-1 code identifying the language for this content.", "example": "fr-CA", "enum": ["en-GB", "en-US", "fr-CA", "fr-FR", "de-DE", "es-ES", "af-ZA", "ar-AE", "ar-BH", "ar-DZ", "ar-EG", "ar-IQ", "ar-JO", "ar-KW", "ar-LB", "ar-LY", "ar-MA", "ar-OM", "ar-QA", "ar-SA", "ar-SY", "ar-TN", "ar-YE", "be-BY", "bg-BG", "ca-ES", "cs-CZ", "cy-GB", "da-DK", "de-AT", "de-CH", "de-LI", "de-LU", "el-GR", "en-AU", "en-BZ", "en-CA", "en-IE", "en-JM", "en-NZ", "en-PH", "en-TT", "en-ZA", "en-ZW", "es-AR", "es-BO", "es-CL", "es-CO", "es-CR", "es-DO", "es-EC", "es-GT", "es-HN", "es-MX", "es-NI", "es-PA", "es-PE", "es-PR", "es-PY", "es-SV", "es-UY", "es-VE", "et-EE", "eu-ES", "fa-IR", "fi-FI", "fo-FO", "fr-BE", "fr-CH", "fr-LU", "fr-MC", "gl-ES", "gu-IN", "he-IL", "hi-IN", "hr-BA", "hr-HR", "hu-HU", "hy-AM", "id-ID", "is-IS", "it-CH", "it-IT", "ja-JP", "ka-GE", "kk-KZ", "kn-IN", "ko-KR", "kok-IN", "ky-KG", "lt-LT", "lv-LV", "mk-MK", "mn-MN", "mr-IN", "ms-BN", "ms-MY", "mt-MT", "nb-NO", "nl-BE", "nl-NL", "nn-NO", "pl-PL", "pt-BR", "pt-PT", "qu-BO", "qu-EC", "qu-PE", "ro-RO", "ru-RU", "se-FI", "se-NO", "se-SE", "sk-SK", "sl-SI", "sq-AL", "sr-BA", "sv-FI", "sv-SE", "sw-KE", "ta-IN", "te-IN", "th-TH", "tr-TR", "tt-RU", "uk-UA", "ur-PK", "vi-VN", "zh-CN", "zh-HK", "zh-SG", "zh-TW", "zu-ZA"]}, "txn1": {"description": "When used outside of API page processing, this field may be populated using the URL parameters *utm_source* **or** by the generic parameter *en_txn1*. Where both parameters are present in the URL, precedence can be controlled by page level settings. **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "txn2": {"description": "When used outside of API page processing, this field may be populated using the URL parameters *utm_medium* **or** by the generic parameter *en_txn2*.  Where both parameters are present in the URL, precedence can be controlled by page level settings. **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "txn3": {"description": "When used outside of API page processing, this field may be populated using the URL parameters *utm_campaign* **or** by the generic parameter *en_txn3*.  Where both parameters are present in the URL, precedence can be controlled by page level settings. **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "txn4": {"description": "When used outside of API page processing, this field may be populated using the URL parameters *utm_content* **or** by the generic parameter *en_txn4*. Where both parameters are present in the URL, precedence can be controlled by page level settings. **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "txn5": {"description": "When used outside of API page processing, this field may be populated using the URL parameters *utm_term* **or** by the generic parameter *en_txn5*.  Where both parameters are present in the URL, precedence can be controlled by page level settings. **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "txn6": {"description": "When used outside of API page processing, this field may also be populated by a user-defined page property [Page > Admin > Campaign References], **or**  by the url query parameter *en_txn6*.  When added as a page parameter, the field is referred to as Campaign Reference 1 in the dashboard settings.\nIf a value is presented in both places, the url query parameter will take precedence.  **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "txn7": {"description": "When used outside of API page processing, this field may also be populated by a user-defined page property [Page > Admin > Campaign References], **or**  by the url query parameter *en_txn7*.  When added as a page parameter, the field is referred to as Campaign Reference 2 in the dashboard settings. If a value is presented in both places, the url query parameter will take precedence.  **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "txn8": {"description": "When used outside of API page processing, this field may also be populated by a user-defined page property [Page > Admin > Campaign References], **or**  by the url query parameter *en_txn8*.  When added as a page parameter, the field is referred to as Campaign Reference 3 in the dashboard settings. If a value is presented in both places, the url query parameter will take precedence.  **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "txn9": {"description": "When used outside of API page processing, this field may also be populated by a user-defined page property [Page > Admin > Campaign References], **or**  by the url query parameter *en_txn9*.  When added as a page parameter, the field is referred to as Campaign Reference 4 in the dashboard settings. If a value is presented in both places, the url query parameter will take precedence.  **Note**: Content will be automatically truncated if the maximum length is exceeded, and the last three characters replaced by '...' to indicate that a string has been truncated.", "type": "string", "maxLength": 100}, "txn10": {"description": "When used outside of API page processing, this field may also be populated by a user-defined page property [Page > Admin > Campaign References], **or**  by the url query parameter *en_txn10*.  When added as a page parameter, the field is referred to as Campaign Reference 5 in the dashboard settings. If a value is presented in both places, the url query parameter will take precedence.  **Note**: Content will be a
[...]
